<%layout("layouts/boilerplate.ejs"); %>

    <div class="row">
    <div class="col-8 offset-2"><br>
    <h2>Create a new listing</h2> <br>
    <form action="http://localhost:8080/listings" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-2">
            <label for="title" class="form-label">Enter title: </label>
            <input type="text" name="listing[title]" class="form-control" id="title" required> 
            <div class="valid-feedback">Title looks good!</div>
            <div class="invalid-feedback">Add title</div>
        </div>
        
        <div class="mb-2">
            <label for="description" class="form-label">Enter description: </label>
            <textarea name="listing[description]" id="description" class="form-control" required></textarea>
            <div class="invalid-feedback">Add a short description</div>
        </div>

        <div class="mb-2">
            <label for="image" class="form-label">Upload listing image</label>
            <input type="file" name="listing[image]" id="image" class="form-control" required> 
            <div class="invalid-feedback">Add an image</div>
        </div>
        
        <div class="row">
        <div class="mb-2 col-md-4">
            <label for="price" class="form-label">Enter price: </label>
            <input name="listing[price]" id="price" class="form-control" required> 
            <div class="invalid-feedback">Price should be valid</div>
        </div>

        <div class="mb-2 col-md-8">
            <label for="location" class="form-label">Enter location: </label>
            <input type="text" name="listing[location]" id="location" class="form-control" required> 
            <div class="invalid-feedback">Location should be valid</div>
        </div>

        <div class="mb-2 col-md-6">
            <label for="country" class="form-label">Enter country: </label>
            <input type="text" name="listing[country]" id="country" class="form-control" required> 
            <div class="invalid-feedback">Country should be valid</div>
        </div>

        <div class="mb-2 col-md-6">
            <label for="category" class="form-label">Enter category: </label>
            <select name="listing[category]" class="form-select" id="category" required>
                <option value="">Select a category</option>
                <option value="Trending">Trending</option>
                <option value="Rooms">Rooms</option>
                <option value="Iconic cities">Iconic cities</option>
                <option value="Mountains">Mountains</option>
                <option value="Castle">Castle</option>
                <option value="Amazing pools">Amazing pools</option>
                <option value="Arctic">Arctic</option>
                <option value="Camping">Camping</option>
                <option value="Farms">Farms</option>
            </select>
                <div class="invalid-feedback">Select a category</div>
        </div>
        </div>

        

        <button class="btn btn-dark add-btn">Add</button>
    </div>
    </div>
    </form><br>


